
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #E7E7E7;
  border-color: #E7E7E7;
  color: dimgrey;
  text-align: center;
  padding-top: 40px;
}

span{
  color: #ff4500;
}
