
.left-content{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  width: 60%;
  position: absolute;
}
.right-content {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 40%;
  position: fixed;
  right: 1px;
  margin-right: 10px;
}

.card{
  box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  padding: 1.5rem 4rem;
  list-style: none;
  width: 80%;
}
.button{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  width: 50%;
}
