<div class="wrapper">
  <div class="left-content">
    <ul *ngFor="let event of events; index as i">
      <li class="card">
        <h1>{{event.title}}</h1>
        <h3>{{event.description}}</h3>
        <h5>{{event.place}}</h5>
        <h5>{{event.date}}</h5>
        <h6>{{event.users}}</h6>
        <div class="button">
          <button class="btn btn-success" (click)="onUpdateMode(event.id)">Update</button>
          <button class="btn btn-danger" (click)="onDeleteEvent(event.id)">Delete</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="right-content">
<!--    <h3>{{user.name}}</h3>-->
<!--    <h3>{{user.surname}}</h3>-->
<!--    <h3>{{user.email}}</h3>-->
    <form [formGroup]="createEventFrom" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" formControlName="title">
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" class="form-control" rows="6" formControlName="description"></textarea>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <label for="place">Place</label>
            <input type="text" id="place" class="form-control" formControlName="place">
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <label for="date">Date</label>
            <input type="text" id="date" class="form-control" formControlName="date">
          </div>
        </div>
        <div class="col-xs-2" *ngIf="!isUpdateMode; else updateMode">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
        <ng-template #updateMode>
          <div class="col-xs-2">
          <button type="submit" class="btn btn-success">Update</button>
          </div>
        </ng-template>
      </div>
    </form>
  </div>
</div>
