<div class="wrapper">

  <div class="form-wrapper">
    <div class="login-card">
      <h1>Login</h1>
      <form [formGroup]="loginForm">
        <div class="form-username">
          <input type="text" id="username" name="username" autocomplete="off" formControlName="username">
          <label for="username" class="label-username">
            <span class="content-username">Username</span>
          </label>
        </div>
        <div class="form-password">
          <input type="text" id="password" name="password" autocomplete="off" formControlName="password">
          <label for="password" class="label-password">
            <span class="content-password">Password</span>
          </label>
        </div>
        <div class="form-button">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
  <div class="register-wrapper">
    <div class="register-card">
      <h1>Not Registered Yet?</h1>
      <h3>Register Now!</h3>
      <button class="btn btn-primary" type="button" (click)="onNavigateRegisterPage()">Register</button>
    </div>
  </div>
</div>

