.wrapper{
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  perspective: 1000px;
}
.mid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  grid-gap: 36px;
  /*border: 1px solid green;*/
}

.card-container{
  /*border: 1px solid green;*/
  display: flex;
  align-items: center;
  justify-items: center;
  width: 35rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  transform-style: preserve-3d;
}
.card{
  display: grid;
  max-width: 400px;
  box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 2rem 5rem;
  list-style: none;
}
.circle-image{
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-image img {
  max-width: 20rem;
  border-radius: 50%;
}
.info{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.info h1{
  font-size: 3rem;
}

.info h3 {
  font-size: 1.3rem;
  color: #585858;
  font-weight: lighter;
}
.details{
  display: grid;
  justify-items: center;
}
